
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body, html {
    background-color: #fff;
}

.container-body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 20vh 70vh 100vh;
    grid-template-areas: "header header" "main main" "footer footer";
    background: #fff;

}

.header-content {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    box-shadow: 0 2px 17px 0px #000;
    border-bottom-left-radius: 20px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    z-index: 1;
                    
}

.header-content span {
    color: #D6000D;
    padding-left: 10px;
}

main {
    grid-area: main;
    position: relative;
}

footer {
    grid-area: footer;
    background: rgb(0, 0, 0);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: none;
    justify-items: center;
    margin-top: 30px;
}

.header-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #D6000D;
    color: #fff!important;
}

.header-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #D6000D;
    color: #fff!important;
}

.header-content .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    color: #000;
    cursor: pointer;
}

.header-content .nav-link:hover {
    background-color: #d3d3d3;
}

.header-content .nav-link.active:hover {
    background-color: #000;
} 

.main-content .btn.btn-danger {
    background-color: #D6000D;
    color: #fff;
}

.main-content .btn.btn-danger:hover {
    background-color: #000;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-content img {
    width: 280px;
    height: 230px;
}

.main-content .col .nav-link.active {
    background-color: #D6000D;
    width: 100%;
}

.main-content .col p {
    font-size: 40px;
}

.main-content .col p span {
    font-weight: bolder;
    font-size: 45px;
    color: #D6000D;
}

.main-content .col, .secondary-content .col {
    display: flex;
    justify-items: start;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.secondary-content {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.secondary-content .col img {
    width: 280px;
    height: 230px;
}


.fa-check-circle:before, .fa-circle-check:before {
    color: #D6000D;
}

.form-control {
    background-color: #d3d3d3!important;
    width: 95%!important;
}

.label {
    font-weight: bolder;
}

.btn.btn-primary.mb-3 {
    background-color: #D6000D;
    border-color: transparent;
    width: 175px;
    position: absolute;
    margin-top: 6px;
}

.btn.btn-primary.mb-3:hover {
        color: #fff;
        background-color: #000;
        border-color: #b02a37;
}

.third-content {
    display: flex;
}

.third-content .row.g-3, .g-3, .gx-3 {
    --bs-gutter-x: -32rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: baseline;
}

.third-content label {
    font-weight: bolder;
}

.card {
    width: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row!important;
    padding: 8px 0px 0px 6px;
    background-color: #d3d3d3!important;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 145px;
}

.card-one, .card-two {
    display: flex;
}

.red-dot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-one-text p {
    font-size: 13px;
}

.card-img-top.rounded-circle {
    width: 70px;
    height: 60px;
    background-color: #D6000D;
}

.card .card-one-text, .card .card-two-text {
    padding-left: 20px;
    width: 280px;
}

.card-two-text {
    font-size: 14px;
}

.card-container {
    display: flex;
    justify-items: start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.name-card {
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: #b02a37;
    border-color: #b02a37;
}

.facebook, .twitter {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.instagram {
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}