
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "header header" "main main" "footer footer";
    background: #d3d3d3;

}

.header-content {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    box-shadow: 0 2px red;
    position: fixed;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    z-index: 1;
                    
}



.header-content span {
    color: #D6000D;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background: rgb(0, 0, 0);
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #D6000D;
    color: #fff!important;
}

.header-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #D6000D;
    color: #fff!important;
}

.header-content .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    color: #000;
}

.header-content .nav-link:hover {
    background-color: #d3d3d3;
}

.header-content .nav-link.active:hover {
    background-color: #000;
} 

.main-content .btn.btn-danger {
    background-color: #D6000D;
    color: #fff;
}

.main-content .btn.btn-danger:hover {
    background-color: #000;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-content img {
    width: 280px;
    height: 230px;
}

.main-content .col .nav-link.active {
    background-color: #D6000D;
    width: 100%;
}

.main-content .col p {
    font-size: 40px;
}

.main-content .col p span {
    font-weight: bolder;
    font-size: 45px;
    color: #D6000D;
}

.main-content .col, .secondary-content .col {
    display: flex;
    justify-items: start;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.secondary-content {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.secondary-content .col img {
    width: 280px;
    height: 230px;
}


.fa-check-circle:before, .fa-circle-check:before {
    color: #D6000D;
}

.form-control {
    background-color: #d3d3d3;
    width: 175px;
}

.label {
    font-weight: bolder;
}

.btn.btn-primary.mb-3 {
    background-color: #D6000D;
    border-color: transparent;
    width: 175px;
    position: absolute;

}

.row.g-3 {
    position: absolute;
    margin-left: 185px;
}


.card {
    width: 370px;
    height: 130px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    padding: 8px 0px 0px 6px;
    background-color: #d3d3d3;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card-one {
    display: flex;
}

.red-dot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-one-text p {
    font-size: smaller;
}

.card-img-top.rounded-circle {
    width: 70px;
    height: 60px;
    background-color: #D6000D;
}

.card .card-one-text {
    padding-left: 20px;
    width: 280px;
}

.card-container {
    display: flex;
    justify-items: start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}